/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */
/* selectors  simple selectors, combinator selectors, pseudo class, pseudo element, attribute selectors */

/* Simple selectors : Element, element to element, . class, # id, * universal  */
/* @import url('https://fonts.googleapis.com/css2?family=Playwrite+RO:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bytesized&display=swap');

body{
    font-family: "Playwrite RO", cursive;
}
/* h1{
    font-family: "Bytesized", sans-serif;
} */


/* h1, h2, h3, h4, h5, h6, a, p{
    color: red;
}  */




/* Colors  hex hexadecimal colors, rgb red, green, blue , hsl hue, saturation, lightning*/

/* 0-255 */
/* h1{
    color: rgb(255, 255, 0);
} */

/* a to f, 0-255 6 values r, g, b*/
/* h1{
    color: #fff;
} */

/* Hsl Colors 0 to 360 deg, 0 to 100%, 0 to 100% */
/* h1{
    color: hsl(0deg 51.14% 49.07%);
    background-color: rgb(108 159 117);
    text-align: center;
    font-size: 47px;
    font-weight: 600;
    text-shadow: -7px -21px 5px #30cb13;
}
a{
    font-size: 27px;
    color: rgb(255, 255, 0);
    background: rgb(34, 65, 78);
    text-decoration: none;
}
p{
    text-align: justify;
    line-height: 23px;
    letter-spacing: 2px;
    word-spacing: 5px;
    text-indent: 50px;
    text-transform: capitalize; 
}

.div{
    background-image: url("../images/aboutpageimages/au-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

button{
    padding: 10px 40px;
    margin: 30px 50px;
    border: 10px groove #21efc9;
    border-radius: 22px;
    font-size: 30px;
    font-weight: 600;
    color: red;
    background: green;
    border: none;
} */
/* 
img{
    width: 100%;
}
.div{
    overflow-x: auto;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
   
}
table, th, td{
    border: 2px solid #ac3456;
}
td, th{
    text-align: center;
    padding: 10px 0px;
    font-weight: 900;
}
th{
    color: #ac3456;
    background-color: #000;
}
td{
    color: #fff;
    background-color: #1bca6a;
} */

  
/* Css positions static, sticky, fixed, relative, absolute */
/* 
 button{
    position: fixed;
    bottom: 100px;
    right: 100px;
 }

 .division{
    position: relative;
 }
 .image-2{
    width: 20%;
    height: 20vh;
    position: absolute;
    top: 0px;
    left: 0px;
 }
 .image-3{
    width: 20%;
    height: 20vh;
    position: absolute;
    top: 0px;
    right: 0px;
 }
 .image-4{
    width: 20%;
    height: 20vh;
    position: absolute;
    bottom: 0px;
    left: 0px;
 }
 .image-5{
    width: 20%;
    height: 20vh;
    position: absolute;
    bottom: 100px;
    right: 0px;
 } */


 

/* Flex box, grid */
/* 
.list-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px 40px;
}

.list-items li{
    border: 2px solid red;
    padding: 30px;
}

.grid img{
    width: 100%;
    height: 100%;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid-4{
    grid-column: 1/3;
    grid-row: 2/4;
}
.grid-11{
    grid-row: 5/7;
    grid-column: 2/4;
} */

/* img{
    width: 100%;
    height: 100%;
}
.grid-images{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.grid-images img:nth-child(2){
    grid-column: 2/3;
    grid-row: 1/3;
}
.grid-images img:nth-child(7){
    grid-column: 2/3;
    grid-row: 3/5;
}
.grid-images img:nth-child(11){
    grid-column: 1/3;
    grid-row: 5/7;
}
.grid-images img:last-child{
   transform: rotate(30deg);
} */


/* Combinator, pseudo class, pseudo element */
/* Descendent selector, child combinator, next sibling selector, sub sequient sibling combinator selector. */

/* Descendent combinator selector */
/* div h1{
    color: #ac5635;
} */

/* child combinator selector */
/* section > h1{
    color: #ac5635;
} */

/*  next sibling combinator selector */
/* section + h1{
    color: #ac5635;
} */

/* sub sequent sibling combinator selector. */
/* section ~ h1{
    color: #ac5635;
} */

/* pseudo class : active, visited, hover, first-child, last child, nth-child, checked, focus...etc */
/* h1{
    color: red;
    background-color: green;
    transition: all 5s ease-in-out;
}
h1:hover{
    color: green;
    background-color: red;
    transition: all 5s ease-in-out;
} */
/* 
a:active{
    color: red;
}
a:visited{
    color: green;
}
a:hover{
    color: orange;
}
.section h1{
color: red;
}
.section h1:nth-child(5){
    color: green;
    transform: rotate(90deg);
}
.section h1:first-child{
    color: green;
}
.section h1:last-child{
    color: green;
}
.check:checked{
    width: 100px;
    height: 100px;
}
.text:focus{
    background-color: red;
} */

/* .items{
    transform: translateY(1400px);
    transform: scale(0);
    transition: all 5s ease-in-out;
}
.list:hover .items{
    transform: translateY(0px);
    transform: scale(1);
    transition: all 5s ease-in-out;
} */


/* Pseudo element selectors :: after, before, first letter, first line, selection, marker..... */
/* 
ul li::before{
    content: "\f101";
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    content: "****";
    color: green;
    margin-right: 20px;
}
ul li::after{
    content: "\f101";
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    content: "****";
    color: green;
    margin-left: 20px;
}
p::first-line{
    color: green;
    font-size: 40px
}
li::marker{
    color: green;
    font-size: 40px;
}

::selection{
    background-color: red;
    color: yellow;
}

.div{
    position: relative;
    z-index: 2;
}
img{
    width: 100%;
    height: 100vh;
}
img:hover{
    opacity: 0.7;
}
.head{
    position: absolute;
    bottom: 0px;
    right: 0px;
}

button{
    padding: 10px 20px;
    position: fixed;
    top: 30px;
    right: 30px;
    z-index: 3;
} */


/* display block, inline and inline block */
/* span{
    color: red;
    font-size: 30px;
    border: 2px solid green;
    height: 200px;
    width: 200px;
    display: inline-block;
} */
/* 
.division span{
    width: 200px;
    height: 5px;
    background-color: green;
    display: block;
}
.division{
    position: relative;
}
.division span::before{
    content: "";
    width: 10px;
    height: 5px;
    position: absolute;
    top: 0px;
    left: 5px;
    background-color: red;
    animation: move 2s linear infinite;
}

@keyframes move {
    0%{
        left: 0px;
    }
    50%{
        left: 200px;
    }
    100%{
        left: 0px;
    }
}

.loader span{
    width: 20px;
    height: 20px;
    background-color: red;
    margin: 0px 5px;
    display: block;
    border-radius: 50%;
}
.loader{
    display: flex;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 5;
    justify-content: center;
    align-items: center;
}
.loader span:first-child{
    background-color: green;
    animation: blink 1s linear infinite;
}
.loader span:nth-child(2){
    background-color: blue;
    animation: blink 2s linear infinite;
}
.loader span:nth-child(3){
    background-color: black;
    animation: blink 3s linear infinite;
}
.loader span:nth-child(4){
    background-color: yellow;
    animation: blink 4s linear infinite;
}
.loader span:last-child{
    background-color: orange;
    animation: blink 5s linear infinite;
}

@keyframes blink {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
} */

/* How to center a div vertically and horizontally */

/* .sec{
    display: grid;
    place-items: center;
    height: 100vh;
} */

/* .sec{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
} */

/* .sec{
    position: relative;
    height: 100vh;
}
form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* img[alt="image1"]{
    width: 30%;
    height: 30vh;
}
img[src="./assets/images/au-2.png"]{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
img[alt="image3"]{
    width: 20%;
    height: 20vh;
    border-radius: 50%;
} */


.sec{
    display: grid;
    place-items: center;
    height: 100vh;
}
form{
    border: 2px solid blue;
    padding: 100px;
    background: #e6172c;
background: linear-gradient(90deg,rgba(230, 23, 44, 1) 6%, rgba(64, 36, 242, 1) 43%, rgba(36, 212, 162, 1) 81%);
}
input, textarea{
    border: 2px solid green;
    width: 100%;
    height: 30px;
    outline: none;
    border-radius: 10px;
    padding-left: 20px;
    font-size: 16px;
    font-weight: 900;
    color: brown;
    margin: 10px 0px;
    background-color: transparent;
}
input:focus{
    border: 2px solid red;
    background-color: aqua;
}
textarea{
    width: 100%;
    height: 200px;
}

.flex{
    display: flex;
    gap: 30px;
}