@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
h1,h2,h3,h4,h5,h6{
    padding-bottom: 10px;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 44px;
}
h3{
    font-size: 40px;
}
h4{
    font-size: 36px;
}
h5{
    font-size: 32px;
}
h6{
    font-size: 20px;
    color: #1B365D;
    font-weight: 600;
}
p{
    font-size: 16px;
    padding-bottom: 20px;
}
.flex{
    display: flex;
}

:root{
    --primary-color : #0072A5;
    --secondary-color : #1B365D;
    --third-color : #F15A22;
    --fourth-color : #ada8a8;
}

/* 
1. Header section.
2. Nav section.
3. Home Banner section.
*/


/* 1. Header section starts. */
.header-main{
    background-color: var(--primary-color);
    padding: 15px 20px;
    
}
.header-links{
    justify-content: flex-end;
    gap: 30px;
}
.header-links a, .header-links li{
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}
.header-links a:hover, .header-links li:hover{
    text-decoration: underline;
}
.faculty-links, .nav-sublinks{
    background-color: #fff;
    width: 300px;
    padding: 10px 30px;
    display: none;
    position: absolute;
    top: 17px;
    left: -100px;
    transition: all 2s ease-in-out;
    z-index: +999;
}
.faculty-links a, .nav-sublinks a{
    color: #0072A5;
}
.faculty-links li, .nav-sublinks li{
    padding: 5px 0px;
}
.faculty-links li:hover, .nav-sublinks li:hover{
    background-color: var(--fourth-color);
    text-decoration: none;
}
.faculty:hover .faculty-links, .nav-link:hover .nav-sublinks{
    display: block;
    transition: all 2s ease-in-out;
}
.faculty, .nav-link{
    position: relative;
}
/* 1. Header section ends. */

/* 2. Nav section starts. */
.nav-main{
    background-color: var(--secondary-color);
    padding: 10px 20px;
}
.nav-section{
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    align-items: center;
    gap: 30px;
}
.nav-links a{
    color: #fff;
    font-size: 12px;
    font-weight: 600;
}
.nav-logo img{
    width: 100%;
    height: 50px;
}
.nav-sublinks{
    display: none;
}
.nav-sublinks a{
    color: var(--primary-color);
}
.nav-btn{
    padding: 10px 20px;
    border: 2px solid var(--third-color);
    background-color: transparent;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.8s ease-in-out;
}
.nav-btn:hover{
    background-color: var(--third-color);
    transition: all 0.8s ease-in-out;
}
.search-bar{
    color: #fff;
}
.nav-link::after{
    content: "\f103";
    font-family: "Font Awesome 5 free";
    font-weight: 900;
    font-size: 12px;
    color: #F15A22;
}
/* 2. Nav section ends. */

/* 3. Home banner section starts. */
.banner-main{
    background-image: url("../images/hero-image-bg.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
.banner-main::after{
    content: "";
    background-color: #2423234d;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.8;
}
.banner-division{
    height: 100vh;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 20px 30px;
    position: relative;
    z-index: +11;
}
.banner-heading{
    position: relative;
}
.banner-heading::after{
    content: "";
    width: 5px;
    height: 100%;
    background-color: var(--third-color);
    position: absolute;
    top: 0px;
    right: 0px;
}
.banner-heading h1, .banner-content{
    color: #fff;
    padding-left: 30px;
    font-weight: 900;
}
.banner-button button{
    border-radius: 50%;
    padding: 9px 12px;
    border: none;
    background-color: var(--third-color);
}
.banner-button i{
    color: #fff;
    cursor: pointer;
}
.banner-button button:hover{
    animation: blink 2s linear infinite;
}
@keyframes blink {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.banner-button a{
    color: #fff;
    font-weight: 600;
}
.banner-button a:hover{
    text-decoration: underline;
}

/* 3. Home banner section ends. */

/* 4. Home admission section starts. */
.admission-main{
    padding: 30px;
}
.admission-card img{
    height: 30px;
}
.admission-img{
    padding: 15px 20px;
    border-radius: 50%;
}
.admission-card {
    gap: 10px;
    align-items: center;
}
.admission-division{
    justify-content: space-between;
}
.img1{
    border: 10px solid var(--third-color);
}
.img2{
    border: 10px solid var(--fourth-color);
}
.img3{
    border: 10px solid var(--primary-color);
}
.img4{
    border: 10px solid var(--secondary-color);
}
.admission-button a{
    color: var(--secondary-color);
    font-size: 13px;
}
.admission-button a:hover{
    color: var(--primary-color);
}
.admission-button button{
    padding: 2px 7px;
}
.admission-button i{
    font-size: 8px;
}
.admission-button{
    padding-bottom: 10px;
}
/* 4. Home admission section ends. */
